.btn-search {
    width: 60px;
    height: 38px;
    background-image: url("../../../assets/search-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}